body {
    vertical-align: middle;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 150px;
  margin-bottom: 20px;
  background:rgba(255,255,255, 0.7); 
}

h2{
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
}

.container-fluid{
  text-align: center;
}



.btn {
  border-radius: 2px;
  border: #4F94CD;
  background-color: #4F94CD;
  color: white;
}

.resize-drag {
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 2px;
  margin: 20px 20px;

  width: 560px;
  height: 315px;

  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height: 500px;
}